---
metadata: 
  name: "New menu 2"
  type: "menu"
physical_file_path: views/partials/menu/new-menu-2.html.liquid
path: menu/new-menu-2
---
<ul>
  <li>menu item 1</li>
  <li>menu item 2</li>
  <li>menu item 3</li>
  <li>menu item 4</li>
</ul>