---
metadata: 
  name: "New menu"
  type: "menu"
physical_file_path: views/partials/menu/new-menu.html.liquid
path: menu/new-menu
---
<ul>
  <li>Menu item 1</li>
  <li>Menu item 1</li>
  <li>Menu item 1</li>
  <li>Menu item 1</li>
</ul>