---
metadata: 
  name: "content section"
  type: "section"
physical_file_path: views/partials/section/content-section.html.liquid
path: section/content-section
---
<div>this is a partial</div>