---
slug: new/slug
layout_name: 1col
metadata: 
  name: "error checking 1"
  type: ""
  meta_title: "A title"
  meta_desc: "a description"
physical_file_path: views/pages/error-checking-1.liquid
---
saasadsasdasd
<p>this should be fine now?</p>