---
slug: test/final-test4
layout_name: 1col
metadata: 
  name: "final test 4"
  type: "page"
  meta_title: "Really really the final test"
  meta_desc: "Final test"
physical_file_path: views/pages/final-test-4.liquid
---
<div class="pad-50">
{% include "modules/reviews/section/reviews-summary" %}
{% include "modules/reviews/section/slider" %}
{% include "modules/reviews/section/reviews-list" %}
{% include "modules/reviews/section/widget" %}
{% include "modules/reviews/section/sidebar" %}


{% include_form "modules/reviews/submit_review" %}
</div>
