---
slug: final/test3
layout_name: default
metadata: 
  name: final test 3
  type: page
  meta_title: A final Test
  meta_desc: Really its the last one
physical_file_path: views/pages/final-test-3.liquid
---
<div class="pad-50">
{% include "modules/reviews/section/reviews-summary" %}
{% include "modules/reviews/section/slider" %}
{% include "modules/reviews/section/reviews-list" %}
{% include "modules/reviews/section/widget" %}
{% include "modules/reviews/section/sidebar" %}


{% include_form "modules/reviews/submit_review" %}
</div>
