---
slug: jobbooking
layout_name: 1col
metadata: 
  name: "Job Booking"
  type: "page"
  meta_title: "Book a job"
  meta_desc: "?"
physical_file_path: views/pages/job-booking.liquid
---
<h1> book a job </h1>
{%- include_form 'job_booking' -%}