---
slug: mark/manson
layout_name: 1col
metadata: 
  name: "Mark manson"
  type: "page"
  meta_title: "Some title"
  meta_desc: "I bet this break now"
physical_file_path: views/pages/mark-manson.liquid
---
<h1>Some title</h1>
<p>some more stuff</p>