---
slug: session-test
layout_name: 1col
metadata: 
  name: "Session test"
  type: "page"
  meta_title: "THis is a title"
  meta_desc: "This is a metadescription"
physical_file_path: views/pages/session-test.liquid
---
<div>
  <h1>heading</h1>
  <p>Some paragraph</p>
</div>