---
slug: test/test
layout_name: 1col
metadata: 
  name: "Test Page"
  type: "page"
  meta_title: "A Title"
  meta_desc: "a description"
physical_file_path: views/pages/test-page.liquid
---
<h1>Some heading</h1>