---
metadata: 
  name: "content section 2"
  type: "page"
physical_file_path: views/partials/page/content-section-2.html.liquid
path: page/content-section-2
---
<div>
  <p> Some more stuff</p>
  <ul>
    <li> some more stuff </li>
  </ul>
</div>