---
metadata: 
  name: "content section 3"
  type: "page"
physical_file_path: views/partials/page/content-section-3.html.liquid
path: page/content-section-3
---
<div>
  <p>
    github test
  </p>
</div>